:root {
	font-family: "Nunito", system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 900;

	color: #001f52;

	background-color: #eff4fa;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

/* #001f52  Prussian Blue */
/* #002e78  Resolution Blue */
/* #eff4fa  Link Water */
/* #61de00 Brigth Green */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	display: f;
}
#app {
	max-width: 1280px;
	margin: 0px auto;
	padding: 2rem;
	text-align: center;
}
button {
	background-color: #eff4fa;
	color: #001f52;
	border: 1px solid #001f52;
	padding: 10px;
	border-radius: 65px;
	cursor: pointer;
}
button img {
	width: 20px;
	height: 20px;
}
button:hover {
	background-color: #d1d1d1; /* helleres Blau für Hover-Effekt */
}
button.clicked {
	background-color: #f0f0f0; /* dunkleres Blau für Effekt */
}
.rounded-left {
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}
.not-rounded {
	border-radius: 0px;
}
.rounded-right {
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}
.arrow {
	width: 20px;
	height: 20px;
}
ul {
	margin-top: 10px;
	padding: 10px;
	max-height: 545px;
}
li {
	cursor: pointer;
	color: #002e78;
	font-size: medium;
	padding: 5px 0;
	border-radius: 5px;
}
li:hover {
	background-color: #e0e0e0;
}
@media (max-width: 600px) {
	.button img {
		width: 15px;
		height: 15px;
	}
	#app {
		padding-top: 2rem;
		padding-left: 0;
		padding-right: 0;
	}
	.control-group {
		gap: 1px;
	}
}
