:root {
	font-family: "Nunito", system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 900;

	color: #001f52;

	background-color: #eff4fa;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* #001f52  Prussian Blue */
/* #002e78  Resolution Blue */
/* #eff4fa  Link Water */
/* #61de00 Brigth Green */

* {
	box-sizing: border-box;
	margin: 0;
  padding: 0;
	display: f;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
